// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FF5400;
$green: #1EDD88;
$gray: #0E0000;
$gray-dark: #373736;
$light-gray: #F4F4F4;
