<div class="banner">
  <h2>fancy a drink?</h2>
  <p>meet our growing community of alcohol afficionados and discover the finest cocktails.</p>
</div>

<div class="container-cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%= link_to cocktail.name, cocktail_path(cocktail), class: "stretched-link" %>
    </div>
  <% end %>
</div>
