<div class="container text-center dark p-8">
  <h2>Drink what you want to drink.</h2>
  <p>discover our community's newest recipes</p>
</div>

<div class="container d-flex justify-content-center">
  <div>
    <% @cocktails.each do |cocktail| %>
    <div class="card d-inline-flex p-2 m-5" style="width: 20%;"><% link_to cocktail.name, cocktail_path(cocktail) %>
      <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-left"><%= cocktail.name %></p>
      </div>
      <%= link_to "", cocktail_path(cocktail), class: "stretched-link" %>
    </div>
    <% end %>
  </div>
</div>
