.banner {
  background-image: url("banner_horizontal.jpg");
  background-size: cover;
  background-position: center;
  padding: 300px 24px;
  font-family: neue-haas-unica, sans-serif;

  h2 {
  font-weight: 600;
  font-style: normal;
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: bold;
  }

  p {
  margin-top: 8px;
  font-weight: 300;
  font-style: normal;
  color: white;
  width: 400px;
  letter-spacing: .7px;
  }
}
