.spacer {
  padding-top: 29px;
  padding-left: 33px;
}

.space-left {
  padding-left: 55px;
}

.space-left li {
  padding-bottom: 20px;
}

.spacer label {
  color: #ffa9f2;
  padding-right: 20px;
}

.form-group {
  padding-bottom: 20px;
}

.btn-primary {
  color: #ffa9f2;
}

.pink {
  color: #ffa9f2;
}

.empty-spacer {
  padding-top: 12px;
  padding-left: 76px;
}
